* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
:root {
  /* Neutral Colors */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-700: hsl(240, 2%, 25%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue Colors */
  --blue-600: hwb(214 10% 0%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red Color */
  --red-500: hsl(354, 63%, 57%);

  /* Green Color */
  --green-500: hsl(140, 63%, 57%);

  /* Yellow Color */
  --yellow-400: hsl(49, 85%, 70%);

  /* Typography */
  --font-family: "Sora", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-body: 16px;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-size: var(--font-size-body);
  line-height: 1.6;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* padding: 20px; */
  margin-top: 20px;
  /* border: 2px solid red; */
}

.logo {
  height: 40px;
  width: auto;
}
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trophy-icon {
  height: 24px;
  width: auto;
}
.theme-toggle h1 {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--neutral-500);
}

main {
  padding: 20px 0;
}

section#intro-area {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.time-measurements {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.time-measurements p:not(.wpm):not(.accuracy):not(.time) {
  font-weight: var(--font-weight-bold);
  /* font-size: clamp(2.5rem, 10vw, 11.2rem); */
  line-height: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

span:is(.wpm, .accuracy, .time) {
  font-weight: var(--font-weight-regular);
  color: var(--neutral-400);
}

hr {
  border: 1px solid var(--neutral-500);
  font-weight: var(--font-weight-regular);
}

.settings-wrapper {
  /* border: 2px solid blue; */
  display: flex;
  gap: 20px;
}

.difficulty-settings {
  display: flex;
  gap: 5px;
}
.difficulty-settings p {
  margin-right: 5px;
  font-weight: var(--font-weight-regular);
  color: var(--neutral-400);
}
.difficulty-settings button {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: 1px solid var(--neutral-500);
  text-align: center;
  padding: 0 10px;
  width: auto;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

/* .difficulty-settings button:hover {
  border: 1px solid var(--blue-600);
  color: var(--blue-600);
} */
.difficulty-settings button.active {
  border: 1px solid var(--blue-600);
  color: var(--blue-600);
}

.mode-settings button.active {
  border: 1px solid var(--blue-600);
  color: var(--blue-600);
}

.mode-settings {
  display: flex;
  gap: 5px;
}
.mode-settings p {
  margin-right: 5px;
  font-weight: var(--font-weight-regular);
  color: var(--neutral-400);
}

.mode-settings button {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: 1px solid var(--neutral-500);
  text-align: center;
  padding: 0 10px;
  width: auto;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.mode-settings button:hover {
  border: 1px solid var(--blue-600);
  color: var(--blue-600);
}
.mode-settings button:active {
  border: 1px solid var(--blue-600);
}

.horizontal-line {
  border: 0.2px solid var(--neutral-500);
  width: 100%;
  opacity: 0.2;
  height: 1px;
  margin-bottom: 20px;
}

section.text-area {
  border: 2px solid red;
  display: grid;
}
textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--font-size-body);
  line-height: 1.6;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-size: var(--font-size-body);
  /* resize: none; */
}
textarea:focus {
  outline: none;
}

section.passage-area {
  /* border: 2px solid red; */
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  height: 100%; */
  /* overflow: hidden; */
}
.start-button {
  margin: 0 auto;
  padding: 4px 13px;
  border: none;
  background-color: var(--blue-600);
  color: var(--neutral-0);
  font-size: var(--font-size-body);
  line-height: 1.6;
  border-radius: 6px;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}

.start-button:hover {
  background-color: var(--blue-400);
}

/* section.result-area {
  border: 2px solid red;
  display: grid;
  gap: 10px;
  margin: 50px auto;
  place-items: center;
  padding: 20px;
} */

.test-complete {
  text-align: center;
  padding: 10px;
}

.test-complete img {
  /* border: 2px solid var(--green-500); */
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 16px 5px var(--neutral-900), 0 0 0 7px var(--green-500),
    0 0 10px 12px var(--neutral-900), 0 0 10px 19px var(--green-500),
    0 0 10px var(--green-500);
}

.test-complete h2 {
  color: var(--neutral-0);
  font-size: 2rem;
  margin-top: 20px;
}

.test-complete p {
  color: var(--neutral-400);
}

.test-result {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  /* margin: 0 auto; */
}
:is(.result-WPM, .result-Accuracy, .result-Errors) {
  padding: 10px;
  height: 70px;
  width: 120px;
  border: 0.1px solid var(--neutral-700);
  border-radius: 8px;
  /* text-align: center; */
}
:where(.result-WPM h1, .result-Accuracy h1, .result-Errors h1) {
  color: var(--neutral-400);
  font-size: var(--font-size-body);
}

button.reset-button {
  background-color: var(--neutral-0);
  /* margin: 20px auto 0 auto; */
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-900);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semibold);
}

button.reset-button:hover {
  background-color: var(--neutral-400);
}

button.reset-button:active {
  background-color: var(--neutral-500);
}

button.reset-button:focus {
  outline: 2px solid var(--blue-600);
}

button.reset-button img {
  height: 16px;
  width: auto;
  margin-left: 8px;
  vertical-align: middle;
}

button.reset-button img:hover {
  filter: brightness(0.8);
}
.test-state {
  display: none;
}

.test-state.active {
  display: block;
}
